# prevent directory listings
Options -Indexes
IndexIgnore */*

# follow symbolic links
Options FollowSymlinks
RewriteEngine on
RewriteRule ^administrator(/.+)?$ backend/web/$1 [L,PT]
RewriteRule ^riset(/.+)?$ penelitian/web/$1 [L,PT]
RewriteRule ^abdi(/.+)?$ pengabdian/web/$1 [L,PT]
RewriteRule ^pustaka-buku(/.+)?$ summary/web/$1 [L,PT]
RewriteRule ^(.+)?$ frontend/web/$1